%% == Erlang Compiler ==

%% Erlang files to compile before the rest. Rebar automatically compiles
%% parse_transforms and custom behaviours before anything other than the files
%% in this list.
%%{recursive_cmds, [eunit]}.
{lib_dirs, ["ebin"]}.

%% Erlang compiler options
{erl_opts, [{i, "src"}]}.


